@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assets/CSS/_LayoutMater_css/_LayoutMaster.css">
    <link rel="stylesheet" href="~/Assets/CSS/GridSystem_Responsive_css/grid.css">
    <link rel="stylesheet" href="~/Assets/CSS/Switch/Switch_menu.css"
    <link rel="stylesheet" href="~/Assets/CSS/GridSystem_Responsive_css/Responsive.css">
    <link rel="stylesheet" href="~/Assets/CSS/_LayoutMater_css/Modal_user.css" />
    <link rel="stylesheet" href="~/Assets/CSS/Base_css/base.css"
    <!--   <script src="~/Content/scripts/Modal_user.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>AirBnB - Clone</title>
</head>
    <body>
        <div class="main">
            <!-- Navbar -->
            <div class="header">
                <div class="grid wide">
                    <nav class="navbar row">
                        <div class="nav-left col l-1">
                            <a href="#" class="navbar__link">
                                <img src="~/Assets/_image/navbar_image/logo.png" alt="" class="navbar__img" width="120px" height="100%">
                            </a>
                        </div>
                        <div class="nav-middle col l-4 ">
                            <div class="navbar__box">
                                <ul class="navbar__list">
                                    <li class="navbar__item navbar__item-space"><a href="#" class="navbar__link">Địa điểm bất kỳ</a></li>
                                    <li class="navbar__item navbar__item-space"><a href="#" class="navbar__link">Tuần bất kỳ</a></li>
                                    <li class="navbar__item "><a href="#" class="navbar__link navbar__link--no-bold">Thêm khách</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link"><i class="navbar__icon fa-solid fa-magnifying-glass"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-right user-navbar__header col l-2">
                            <div class="user-navbar__box ">
                                <ul class="navbar__list">
                                    <li class="navbar__item-user"><a href="" class="navbar__link"><i class="navbar__icon navbar__icon--user fa-solid fa-bars"></i></a></li>
                                    <li class="navbar__item-user"><a href="" class="navbar__link"><i class="navbar__icon navbar__icon--user fa-solid fa-user"></i></a></li>
                                </ul>
                                <div class="user-header__form--active">
                                    <div class="user-header__form-box">
                                        <button class="user-header__form--navRegister">Sign In</button>
                                        <button class="user-header__form--navLogin">Log in</button>
                                        <hr></hr>
                                        <button class="user-header__form--support">Airbnb your home</button>
                                        <button class="user-header__form--support">Help Center</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- End Navbar -->
            <!-- Menu -->
            <div class="menu">
                <div class="grid wide">
                    <div class="menu__container row">
                        <div class="menu-left col l-9 m-12 c-12">
                            <div class="menu__box  <!--menu__box--chosen--">
                                <img src="~/Assets/_image/Menu_image/menu_1.jpg" width="26px" alt="" class="menu__img">
                                <h4 class="menu__header">Phòng</h4>
                                <div class="menu__box-border-bt"></div>
                            </div>
                            <div class="menu__box ">
                                <img src="~/Assets/_image/Menu_image/menu_2.jpg" width="26px" alt="" class="menu__img">
                                <h4 class="menu__header">Khung cảnh tuyệt vời</h4>
                                <div class="menu__box-border-bt"></div>
                            </div>
                            <div class="menu__box ">
                                <img src="~/Assets/_image/Menu_image/menu_3.jpg" width="26px" alt="" class="menu__img">
                                <h4 class="menu__header">Nhà nhỏ</h4>
                                <div class="menu__box-border-bt"></div>
                            </div>
                            <div class="menu__box ">
                                <img src="~/Assets/_image/Menu_image/menu_4.jpg" width="26px" alt="" class="menu__img">
                                <h4 class="menu__header">Chơi golf</h4>
                                <div class="menu__box-border-bt"></div>
                            </div>
                            <div class="menu__box ">
                                <img src="~/Assets/_image/Menu_image/menu_5.jpg" width="26px" alt="" class="menu__img">
                                <h4 class="menu__header">Nhà dưới lòng đất</h4>
                                <div class="menu__box-border-bt"></div>
                            </div>
                            <div class="menu__box ">
                                <img src="~/Assets/_image/Menu_image/menu_6.jpg" width="26px" alt="" class="menu__img">
                                <h4 class="menu__header">Dammuso</h4>
                                <div class="menu__box-border-bt"></div>
                            </div>
                        </div>
                        <div class="menu-right col l-3 m-0 c-0">
                            <div class="menu-right__box">
                                <p class="menu__content">Hiển thị tổng trước thuế</p>
                                <input type="checkbox" id="checkboxInput">
                                <label for="checkboxInput" class="toggleSwitch">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="~/Scripts/scripts/Modal_user.js"></script>
            @RenderBody();
        </body>
</html>
