
@{
    ViewBag.Title = "Product1";
    Layout = "~/Views/Home/Menu.cshtml";
}
@section Product
{
    <div class="loop cubes">
        <div class="item cubes"></div>
        <div class="item cubes"></div>
        <div class="item cubes"></div>
        <div class="item cubes"></div>
        <div class="item cubes"></div>
        <div class="item cubes"></div>
    </div>
}